version: "3.8"
services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
    environment:
      APP_ENV: dev
      APP_URL: http://localhost:8080
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: consultant_db
      DB_USER: consultant
      DB_PASS: consultantpass
      SESSION_SECRET: change_me_in_prod
    depends_on:
      - db
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: consultant_db
      MYSQL_USER: consultant
      MYSQL_PASSWORD: consultantpass
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "33060:3306"
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:
